.card-main {
    padding: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: -34px;
    background: none;
}

.card-0 {
    color: rgb(10, 10, 10);
    position: relative;
    margin-left: 70px;
    border-radius: 10px;
    min-height: 312px
}

.carousel-indicators li {
    cursor: pointer;
    border-radius: 50% !important;
    width: 10px;
    height: 10px;
    background:#8F8F8F !important;
}
.carousel-indicators .active {
  
    background-color: #04752E !important ;
}
.profile {
    color: #000;
    position: absolute;
    margin-left: -120px;
    margin-top: 8%;
    border: none;
    z-index: 9999;
    
}
.carousel-item{
    margin-top: 20px;
}
.profile-pic {
    width: 150px;
    height: 150px;
}

.open-quotes {
    margin-left: 130px;
    margin-top: 100px
}

.content {
    margin-left: 97px;
    margin-right: 58px;
    width: 61%;
}
.content p{
    margin-top: 25px;
    height: 115px;
    text-align: left;
    font: normal normal normal 12px/18px Poppins;
    letter-spacing: 0px;
    color: #8F8F8F;
    opacity: 1;
}
.content h5{
    width: 200px;
    height: 33px;
    text-align: left;
    font: normal normal 600 16px/33px Poppins;
    letter-spacing: 0px;
    color: #3B3A3A;
    opacity: 1;
}
.content h6 {
    width: 138px;
    height: 23px;
    text-align: left!important;
    font: normal normal 600 16px/33px Poppins !important;
    letter-spacing: 0px;
    color: #8F8F8F;
    opacity: 1;
}
.rating{
   
    color: yellow;
    float: left;
    width: 142px;
    height: 17px;
    margin-left: -47px;
    margin-top: -6px;
    
}
#carouselExampleIndicators{
    box-shadow: 0px 4px 8px 0px #6c757d;
    background: white;
    overflow: hidden;
    width: 574px !important;
}
.carousel-inner {
    position: relative;
    width: 134% !important;
    padding: 31px 74px;
  
}
@media screen and (max-width: 600px) {
    .card-main {
        padding: 50px 10px
    }

    .card-0 {
        min-height: 432px
    }

    .profile {
        top: 24%
    }

    .profile-pic {
        width: 90px;
        height: 90px
    }

    .open-quotes {
        margin-left: 100px
    }

    .content {
        margin-left: 120px;
        margin-right: 50px
    }

    .close-quotes {
        margin-right: 30px
    }
}